*{
    display: flex;
    box-sizing: border-box;
}

.caja {
    width: 100%;
    height: 800px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 30%;
    height: 150px;
    justify-content: space-around;
}

.principal{
    font-size: 100px;
    width: 50%;
    justify-content: center;
    float: left;
    align-items: center;
    border: 2px solid #000;
}

.botones {
    width: 70px;
    flex-direction: column;
    justify-content: space-around;
}

button {
    padding: 10px 10px;
    font-size: 20px;
    color: white;
    justify-content: center;
}

.boton1 {
    background-color: green;
    width: 100%;
}

.boton2 {
    background-color: red;
    width: 100%;
}
.mensaje {
    margin: 20px;
    font-size: 25px;
}
